# Float windows by role/type
for_window [window_role="pop-up"]                       floating enable
for_window [window_role="bubble"]                       floating enable
for_window [window_role="task_dialog"]                  floating enable
for_window [window_role="Preferences"]                  floating enable
for_window [window_type="dialog"]                       floating enable
for_window [window_type="menu"]                         floating enable

# Float windows by title/class
# for_window [title="Event Tester"]                       floating enable
# for_window [class="Youtube-dl-gui"]                     floating enable

