# take screenshot
# bindsym $mod+Shift+F12 exec "scrot 'i3_screenshot_%Y-%m-%d-%H-%M-%S.png' -e 'mv $f ~/Pictures/Screenshots' && notify-send 'Screenshot: Fullscreen'"
# bindsym $mod+F12 exec "flameshot screen -r -p ~/Pictures/Screenshots"
bindsym $mod+F12 exec xfce4-screenshooter -fd 1


# take screenshot of active window
# bindsym $mod+F11 exec "scrot -u 'i3_screenshot_%Y-%m-%d-%H-%M-%S.png' -e 'mv $f ~/Pictures/Screenshots' && notify-send 'Screenshot: Current Window'"
bindsym $mod+F11 exec xfce4-screenshooter -wd 1

# take screenshot of rectangle
# bindsym $mod+Shift+F11 exec "flameshot gui -p ~/Pictures/Screenshots"
bindsym $mod+F10 exec xfce4-screenshooter -r

